.integrante{
    background-color: white;
    margin-top: 2%;
    padding: 10px;
    width: 32vw;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.185);
}

#container_main_integrantes{
    background-color: var(--cor-quartenaria);
    max-width: 95vw;
    margin: auto;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.185);
    border-radius: 5px;
}

.imagem_dados{
    display: flex;
    gap: 10px;
}

.imagem_dados img{
    width: 13vw;
}

.dados_integrante{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#container_integrantes{
    padding: 2% 0 2% 2%;
}

.link_github{
    position: relative;
    text-decoration: none;
    color: var(--cor-principal);
    transition: width 0.3s ease;
}

.link_github::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    display: block;
    margin-top: 1px; 
    right: 0;
    background: var(--cor-principal); 
    transition: width 0.3s ease; 
}

.link_github:hover::after {
    width: 100%;
    left: 0;
    background: var(--cor-principal);
}

@media (max-width: 1620px){
    .integrante{
        width: 40vw;
    }

    .imagem_dados img{
        width: 15vw;
    }
}

@media (max-width: 1260px){
    .integrante{
        width: 60vw;
    }

    .imagem_dados img{
        width: 20vw;
    }
}

@media (max-width: 820px){
    .integrante{
        width: 70vw;
    }

    .imagem_dados img{
        width: 25vw;
    }
}

@media (max-width: 675px){
    .dados_integrante{
        font-size: 1.1rem;
    }
}

@media (max-width: 620px){
    .dados_integrante{
        font-size: 1.1rem;
    }

    .integrante{
        width: 80vw;
    }
}

@media (max-width: 460px){
    .dados_integrante{
        font-size: 1rem;
    }

    .integrante{
        width: 80vw;
    }

    .imagem_dados img{
        width: 30vw;
    }
}

@media (max-width: 390px){
    .dados_integrante{
        font-size: 0.9rem;
    }

    .integrante{
        width: 80vw;
    }

    .imagem_dados img{
        width: 35vw;
    }
}