#box_icones{
    margin-top: 2%;
}

.flex_contato{
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex_contato2{
    margin-top: 1%;
}

.flex_contato > img {
    width: 4vw;
}

.flex_contato > p {
    font-size: 1.4rem;
}

#dados_contato{
    margin-top: 2%;
}

.texto_dados{
    font-size: 1.5rem;
}

#id_nome_usuario{
    width: 40vw;
    padding: 10px; 
    border: 2px solid black; 
    border-radius: 5px; 
    font-size: 1.1rem; 
    margin-bottom: 10px; 
}

#id_mensagem_usuario{
    width: 80vw;
    height: 15vh;
    padding: 20px; 
    border: 2px solid black; 
    border-radius: 5px; 
    font-size: 1.1rem; 
    margin-bottom: 10px;
}

@media (max-width: 980px) {
    .flex_contato > img {
        width: 8vw;
    }
}

@media (max-width: 640px) {
    .flex_contato > img {
        width: 10vw;
    }
}

@media (max-width: 520px) {
    #container_main{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .flex_contato > p {
        font-size: 1.2rem;
    }

    .texto_dados{
        font-size: 1.3rem;
    }
}

@media (max-width: 470px) {
    #container_main{
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .flex_contato > p {
        font-size: 1.2rem;
    }

    .texto_dados{
        font-size: 1.3rem;
    }
}

@media (max-width: 390px) {
    .flex_contato > img {
        width: 12vw;
    }
    
    #container_main{
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .flex_contato > p {
        font-size: 1.1rem;
    }

    .texto_dados{
        font-size: 1.3rem;
    }
}