.ul_links{
    display: flex;
    list-style: none;
    gap: 2%;
    padding-bottom: 1%;
    background-color: var(--cor-principal);
    margin-bottom: 1%;

}

.links{
    position: relative;
    text-decoration: none;
    color: white;
    transition: width 0.3s ease;
}

.links::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    display: block;
    margin-top: 1px; 
    right: 0;
    background: white; 
    transition: width 0.3s ease; 
}

.links:hover::after {
    width: 100%;
    left: 0;
    background: white;
}

@media (max-width: 800px){
    .links{
        font-size: 1rem;
    }
}

@media (max-width: 640px){
    .ul_links{
        gap: 5%;
    
    }
}

@media (max-width: 530px){
    .links{
        font-size: 0.8rem;
    }
}

@media (max-width: 390px){
    .links{
        font-size: 0.6rem;
    }
}
