header {
    background-color: var(--cor-principal);
    padding: 1rem 2% 0.1% 2%; 
    margin-bottom: 1%;
}

.div_cabecalho {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.titulo_cabecalho {
    font-size: 3rem;
    color: white;
    text-align: left; 
    margin: 0; 
}

.botao_icones_cabecalho {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.botao_icones_cabecalho:hover {
    transform: scale(1.2); 
}

.icones_cabecalho {
    width: 3vw;
}

.div_botoes_cabecalho {
    display: flex;
    align-items: center;
    gap: 10px; 
}

@media (max-width: 1190px){
    .icones_cabecalho {
        width: 4vw;
    }
}

@media (max-width: 1000px){
    .icones_cabecalho {
        width: 4.5vw;
    }

    .titulo_cabecalho {
        font-size: 2.5rem;
    }
}

@media (max-width: 800px){
    .icones_cabecalho {
        width: 4.5vw;
    }

    .titulo_cabecalho {
        font-size: 2.1rem;
    }
}

@media (max-width: 640px){
    .icones_cabecalho {
        width: 5vw;
    }

    .titulo_cabecalho {
        font-size: 1.8rem;
    }
}

@media (max-width: 530px){
    .icones_cabecalho {
        width: 5vw;
    }

    .titulo_cabecalho {
        font-size: 1.6rem;
    }
}

@media (max-width: 390px){
    .icones_cabecalho {
        width: 6vw;
    }

    .titulo_cabecalho {
        font-size: 1.1rem;
    }
}


