#container_main{
    background-color: var(--cor-quartenaria);
    max-width: 95vw;
    margin: auto;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.185);
    border-radius: 5px;
}

#container_quem_somos, #container_diagnostico
,#container_faq, #container_contato{
    padding: 2% 0 0 2%;
}

#container_serviços{
    padding: 4% 0 0 2%;
}

#container_escolher_porto{
    padding: 4% 0 0 2%;
}

#container_usar_site{
    padding: 4% 0 3% 2%;
}

.titulo_main{
    font-size: 2.1rem;
}

.subtitulo{
    margin-top: 1%;
    font-size: 1.7rem;
}

.descritivo{
    margin-top: 1%;
    font-size: 1.1rem;
    width: 90vw;
}

.texto_imagem{
    display: flex;
}

.descritivo01{
    width: 40vw;
    text-align: justify;
}

.imagem01{
    border-radius: 10px;
    width: 35vw;
    margin-left: 10%;
    border: 3px solid var(--cor-principal);
}

.lista_main{
    list-style: none;
}

.li_main{
    display: flex;
    align-items: center;
    margin-top: 2%;
    font-size: 1.1rem;
    padding-bottom: 2%;
}

.icone_li{
    margin-right: 1%;
}
@media (max-width: 1580px){
    .imagem01{
        width: 40vw;
    }
}

@media (max-width: 1440px){
    .imagem01{
        width: 47vw;
        margin-left: 4%;
    }
}

@media (max-width: 1350px){
    .imagem01{
        width: 50vw;
        margin-left: 2%;
    }
}

@media (max-width: 1280px){
    .imagem01{
        width: 51vw;
        margin-left: 1.5%;
    }
}

@media (max-width: 1230px){
    .texto_imagem{
        display: flex;
        flex-direction: column-reverse;
    }

    .imagem01{
        width: 50vw;
        margin-top: 2%;
        margin-left: 0;
        margin: auto;
    }

    .descritivo01{
        margin-top: 2%;
        width: 90vw;
        text-align: justify;
    }
}

@media (max-width: 980px){
    .imagem01{
        width: 60vw;
        margin-top: 2%;
        margin-left: 0;
        margin: auto;
    }

    .icone_li{
        width: 8vw;
    }
}

@media (max-width: 950px){
    .titulo_main{
        font-size: 2rem;
    }
}

@media (max-width: 890px){
    .titulo_main{
        font-size: 1.9rem;
    }
}

@media (max-width: 830px){
    .titulo_main{
        font-size: 1.8rem;
    }
}

@media (max-width: 760px){
    .titulo_main{
        font-size: 1.5rem;
    }

    .subtitulo{
        font-size: 1.4rem;
    }

    .imagem01{
        width: 70vw;
        margin-top: 2%;
    }

    .descritivo{
        margin-top: 1%;
        font-size: 1rem;
    }

    .icone_li{
        width: 10vw;
    }

    .li_main{
        font-size: 1rem;  
    }
}

@media (max-width: 660px){
    .titulo_main{
        font-size: 1.4rem;
    }

    .subtitulo{
        font-size: 1.3rem;
    }

    .imagem01{
        width: 70vw;
        margin-top: 2%;
    }

    .descritivo{
        margin-top: 1%;
        font-size: 1rem;
    }

    .icone_li{
        width: 10vw;
    }

    .li_main{
        font-size: 1rem;  
    }
}

@media (max-width: 550px){
    .titulo_main{
        font-size: 1.5rem;
    }

    .subtitulo{
        font-size: 1.3rem;
        margin-top: 2%;
    }

    .imagem01{
        width: 85vw;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .icone_li{
        width: 12vw;
    }
}

@media (max-width: 460px){
    .icone_li{
        width: 13vw;
    }
}

@media (max-width: 390px){
    .icone_li{
        width: 15vw;
    }
}